@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:red;!important;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
}

img {
    max-width: 100%;
}

header {
    padding: 30px 4%;
}

.photo-book img{
    
    height: auto;
}
