body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*ヘッダー*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.profile img {
  width: 150px;
  height: auto;
  display: block;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header nav ul li a {
  text-decoration: none;
  color: #333;
}

/*メイン*/

#main-image img {
  width: 100%;
  max-width: none;
  height: 600px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.section-title {
  display: table;
  border-bottom: solid 1px #333;
  padding-bottom: 5px;
  margin: 60px auto 20px;
  font-size: 30px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 960px;
  margin: 0 auto; 
}

.about-content img {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: auto;
}
h3 {
  font-size: 14px;
}

.about-text p {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}

.bicycle-list {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.bicycle-content {
  width: 30%;
  text-align: center;
}

.bicycle-content img {
      width: 100%;
      height: auto;
      text-align: center;
      margin-bottom: 10px;
}

    .bicycle-text p {
    font-size: 15px;
    text-align: center;
}

/*フッター*/
footer {
  font-size: 8px; 
  text-align: center;
  margin-top: 40px;
}

/*スマホ用*/
@media screen and (max-width: 600px) {
  
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.about-content {
  flex-direction: column;
}

.bicycle-list {
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.bicycle-content {
  width: 100%;
  max-width: 350px;
}

.section-title {
  font-size: 24px;
  margin: 40px auto 20px;
}
}

  